.loading-container {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191919;
}

.music-container{
    width: 20%;
    height: 5%;
    border: solid 1px #fff;
}