.search-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Place the content in the vertical center of the container */
    align-items: center;
    background-image: url('../images/homepage-background.jpg');
}

#link-header {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    margin-top: -50px; /* Adjust the negative margin to vertically center the text */
}

#login-link {
    padding: 20px 50px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #1ed760;
    border-radius: 50px;
    transition: .25s;
}

#login-link:hover {
    background-color: #00ff59;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}