.search-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Place the content in the vertical center of the container */
    align-items: center;
    background-image: url('../images/homepage-background.jpg');
    background-size: cover;
}

#link-header {
    margin-bottom: 20px;
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

#login-link {
    padding: 20px 50px;
    font-size: 40px;
    text-decoration: none;
    color: #fff;
    background-color: #1ed760;
    border-radius: 50px;
    transition: .25s;
}

#login-link:hover {
    background-color: #00ff59;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
}

@media (max-width: 800px) {

    #link-header{
        font-size: 40px;
    }

    #login-link{
        padding: 10px 25px;
        font-size: 32px;
    }
}